@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";

body {
	font-family: "Manrope", sans-serif;
}

.system-purpose {
	margin: 40px 50px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.system-purpose h2 {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
}

#system-purpose__selected {
	width: 30%;
	margin-bottom: 30px;
}

.system-purpose__modify,
.system-purpose__new,
.system-purpose__gotoready {
	display: flex;
	justify-content: flex-start;
}

.system-purpose__btn,
.system-operation__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	width: 15%;
	border: none;
	padding: 5px 5px;
	font-weight: 600;
	background-color: rgba(224, 211, 17, 0.4);
	border-radius: 5px;
	cursor: pointer;
}

.system-purpose__text,
.system-operation__text {
	margin-left: 10px;
	margin-bottom: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.system-operation {
	margin: 50px 50px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.system-operation h2 {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
}

.system-operation__start {
	display: flex;
	justify-content: flex-start;
}
